@import '../../../../../../assets/styles/_variables.sass'

.help-teams
  @include flex-justify-between
  align-items: center
  padding: 185px 0 0

  @media screen and (max-width: $md-max-width)
    flex-direction: column

  &__interaction
    padding-right: 10%

    @media screen and (max-width: $md-max-width)
      padding-right: 0

  &__interaction,
  &__image
    width: 50%

    @media screen and (max-width: $md-max-width)
      width: 100%

  &__image
    @media screen and (max-width: $md-max-width)
      margin-top: 40px

  &__launch
    @media screen and (max-width: $md-max-width)
      padding: 0 80px
      @include flex-justify-center

    @media screen and (max-width: $sm-max-width)
      padding: 0
      @include flex-justify-center

  &__title
    width: 100%
    @media screen and (max-width: $md-max-width)
      text-align: center

  &__description
    width: 100%
    text-align: justify
    line-height: 28px
    margin: 40px 0

    @media screen and (max-width: $md-max-width)
      text-align: center

