.authorization
  display: flex
  justify-content: space-between
  padding-top: 180px

  &__title
    &:first-letter
      text-transform: capitalize

  &__help-description
    display: inline
    margin-right: 4px

  &__img
    padding: 60px
    width: 40%

  &__interaction
    width: 60%
    padding: 0 40px


