@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap')

.button
  max-width: 100%
  border-radius: 10px
  cursor: pointer
  font-size: 14px
  padding: 9px 18px
  font-family: Manrope,sans-serif
  font-weight: var(--pr-font-weight-bold)

  &--empty
    background-color: var(--pr-color-white)
    color: #181A1B
    border: dashed #D3D3D3

    &:hover
      border-color: #C0C0C0

  &--standard
    background-color: var(--pr-color-glacier)
    padding: 11px 18px
    color: var(--pr-color-white)
    border: 0

    &:hover
      background-color: var(--pr-color-green-50)
      box-shadow: 0 0 16px var(--pr-color-green-50)

    &:active
      box-shadow: inset 0 0 20px var(--pr-color-blue-peacock)

  &--transparent
    background-color: var(--pr-color-white)
    color: var(--pr-color-glacier)
    border: 2px solid var(--pr-color-glacier)

    &:hover
      border: 2px solid  var(--pr-color-green-50)
      color:  var(--pr-color-green-50)

    &:active
      border: 2px solid var(--pr-color-blue-peacock)
      color: var(--pr-color-blue-peacock)
