@import '../../../../../assets/styles/_variables.sass'

.logo
  @include flex-justify-center
  align-items: center
  width: 96px
  height: 96px
  box-shadow: 0 12px 30px rgba(100, 100, 100, 0.06)
  border: 1px solid #EAEAEA
  border-radius: 12px
  cursor: pointer
  padding: 24px

  &--small
    width: 48px
    height: 48px
    padding: 12px

  &--big
    width: 124px
    height: 124px
    padding: 36px

