@mixin small-400
  font-weight: 400
  font-size: 12px
  line-height: 16px

@mixin small-500
  font-weight: 500
  font-size: 12px
  line-height: 16px

@mixin medium-500
  font-weight: 500
  font-size: 16px
  line-height: 24px

@mixin large-400
  font-weight: 700
  font-size: 18px
  line-height: 28px

@mixin large-500
  font-weight: 500
  font-size: 18px
  line-height: 28px

@mixin large-700
  font-weight: 700
  font-size: 48px
  line-height: 42px

@mixin flex
  display: flex

@mixin flex-wrap
  display: flex
  flex-wrap: wrap

@mixin flex-justify-between
  display: flex
  justify-content: space-between

@mixin flex-justify-center
  display: flex
  justify-content: center

@mixin flex-align-center
  display: flex
  align-items: center

@mixin flex-justify-align-center
  display: flex
  justify-content: center
  align-items: center

@mixin flex-column
  display: flex
  flex-direction: column

@mixin flex-justify-between-warp
  display: flex
  flex-flow: row wrap